html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }

}
.overlay{
  position: fixed;
  top: 93vh;
  left:50vh;
  transform: translate(-100%);
}
.controls{
  display: flex;
  flex-direction: row;
}
.pencil{
  top: -6px;
  color: white;
  position: relative;
  font-size: 20px;
}

.box{
  width: 30vw;
  height: 20px;
  border: 1px solid white;
  border-radius: 5px;
  
}